body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0; /* Adjust as needed */
}

.container {
  flex: 1; /* Take up the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px; /* adjust as needed */
  height: 300px; /* adjust as needed */
}

.box > div {
  width: 100px; /* adjust as needed */
  height: 100px; /* adjust as needed */
  margin: 10px; /* adjust as needed */
}

.box1 {
  background-color: yellow;
}

.box2 {
  background-color: red;
}

.box3 {
  background-color: purple;
}

.box4 {
  background-color: green;
}

.white {
  background-color: white;;
}


